# Archivos de configuración sensibles
includes/db.php
includes/query.sql
includes/log.txt


# Insertar usuario.
public_html/insert_user.php
public_html/auth.php


# Archivos de entorno si usas más adelante
.env

# Archivos del sistema / temporales
*.log
*.bak
*.tmp
.DS_Store
Thumbs.db
